body {
  font-family: "Microsoft JhengHei",Arial;
  font-size: 18px;
}

hr {
  margin: 0px;
}
.menu_box {
  align-content: flex-end;
}


.navbar-light .navbar-nav .nav-link:hover {
  color: #3680a4;
}

.navbar {
  padding: 0;
  float: right;
}


.nav-item:hover {
  background-color:#ece8e8;
}

.dropdown-item:hover {
  background-color:#ece8e8;
  color: #3680a4;
}
hr {
  border:5px solid #51a42c ;
}

.banner {
  max-width: auto;
  max-height: auto;

}


.copyright {
  color: white;
}

footer {
  background-color: #000;
  position: fixed;
  bottom: 0;
  left: 0;
  height:70px;
  width:100%;
  display:flex;
  justify-content: center;
}

p {
  margin: auto;
}


